<footer>
  <span *ngIf="versionData.version">version <b>{{versionData.version}}</b></span>
  <span *ngIf="versionData.buildNumber">&bull; build #<a href="https://travis-ci.org/rostykerei/www.rostykerei.nl/builds/{{versionData.buildId}}" target="_blank">{{versionData.buildNumber}}</a></span>
  <span *ngIf="versionData.commit">&bull; commit <a href="https://github.com/rostykerei/www.rostykerei.nl/commit/{{versionData.commit}}" target="_blank">{{versionData.commit | slice:0:7 }}</a></span>
</footer>
