<h1>Rosty Kerei</h1>
<a href="mailto:mail@rostykerei.nl">mail@rostykerei.nl</a>
<hr/>
<pre>
-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: SKS 1.1.5

mQENBFFA1R0BCADGdpxzuDm4VRp7Wg7N3kSJYqXmEOEHp19opmaroXJRdOt+z20hefCHoHtE
SHSiZdxMz3ACKDmjS5UUc/Je0WFMtrU+NuYFN8xQ+aDYsge2m5N1M/54rDo17jkqMpgqhn7g
8hS7t61k0dzjiJs0rSts5KzHrmB/bSJKE8IRdWQpL7viL7bERfC5BDy+ITn6cq/wZPoyXAIa
hzjuHnNNWD7gTllS2OppO7PtJovbpvcXXrn22hfcYk630sD+y89jwmPI3haAG8r34HolyRyN
yf10c7n3XBopMXvP7jeG4gcP9aVoiN8gSYKuBEiid9V2euSJy0QD0xzg0GshEciEXWD9ABEB
AAG0I1Jvc3R5IEtlcmVpIDxyb3N0eS5rZXJlaUBnbWFpbC5jb20+iQE4BBMBAgAiBQJRQNUd
AhsDBgsJCAcDAgYVCAIJCgsEFgIDAQIeAQIXgAAKCRANdQ009IerqDPxB/9q+WYf8nJW1bEA
v5aC4Tvlu/+e3JB5jKqKGReroAbJbo4JsPwK1Qzzx/4CZGpGXfZIhs80orVZDKiYZx1bk/o2
UWVYZ2/x4WfSc+7uhK6RjD0N38F1cBq/OP8YgTXMWaqTPfjt4PwxFZ9VNjsMITzFPOfmWVoY
eyHCTDL0NzX5w4kuMqxX8o1iKNYmju/7mI88T7GoucFg+Sg+ErrHZJK/qWBiaw7tfmdY91UP
6jry5FPo5Et0Te+UT/ILJBc0cRC4o5bMRP+b/nwD8ywiBz3/qzFdL8ZQV8TuR9shBvLoz1k3
u59jQRoUrJTF/dq4Uf+JG8yIuvzIJczO9a7/sHgnuQENBFFA1R0BCADPHKydKR1o77MGV2aD
jQkgxmp8KN2MOH4rTGrsKEOgi5a4wPzaSbe+rFbpcogxQk0bq5rAJjS+zSpjGzWJOavIEAX7
30RjEm7o3nxPlvdXbCovY/ZcMICVtYfZ7qdrql31SMlM0zk/rs2/Q6b1uClCql5F4hhvnS6Q
snPuEVWx9NcsgSnkk4MeAIUQYubnw/nzuZ8fsPoe1UkRT+IcYtrIFdHqRGnz5EA1JFx7DYe8
fISe3gTf+rWJkoK5KaasxgbXVMiF/tFv/eROddGk/2Y7WYmeY3fCin5OjGEUTci1MmAFf3Iz
8EX6xwIutU7aj4nyxgRiF0Fi6HdBiSal7QjlABEBAAGJAR8EGAECAAkFAlFA1R0CGwwACgkQ
DXUNNPSHq6iFiQf/fBr/rAPrfJh6SU9gMMvZjqXvoUmOgHS5oP9npOv/AP2G1keXNa0/8Rfq
yBi4Ebsk1J6Y+liFYZeWCpjJjKQEd/UBczLhgeiLCGgxfGQ8C1Jk9Oal1lh+yh91jUMJhbXZ
j9l7WFlczcMs/A2AmUW1+I/B5VVXSx9PlrYsZOx4+ucH+c/aNSb/9XSASs1OHZoGUyu+CvA1
c4cvKahSCiKo5SU5rR8n/twvH8xkywznxVtCzqDAkmLpnwN9yArB++iEsOBH4RtgpdM+aLDX
a4mcQs44RdQm5TnKYgLE3I58ZzSNPGIba4S1s5q7GlnjTlB4s6R45LMxa+/fWONJunoEAA==
=13a/
-----END PGP PUBLIC KEY BLOCK-----
</pre>

<h4>testing travis</h4>
